:root {
    --color-background: #7AA451;
    --color-input-bg: #B7F1B2;
    --color-header: #225E0C;
    --color-footer: #D9D9D9;
    --color-btn-encrypt: #09500B;
    --color-btn-decrypt: #80F86C;
    --font-main: 'Inter', sans-serif;
    --font-title: 'Anton', sans-serif;
    --font-footer: 'Pacifico', cursive;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--font-main);
    background: var(--color-background);
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: var(--color-header);
    color: white;
}

.header__logo-container {
    display: flex;
    align-items: center;
}

.header__logo {
    height: 40px;
    margin-right: 10px;
}

.header__title {
    font-family: var(--font-title);
    font-size: 36px;
}

.header__social-links a {
    color: white;
    font-size: 20px;
    margin-left: 15px;
    text-decoration: none;
}

.main-container {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    height: calc(100vh - 140px);
}

.encrypt-section {
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.encrypt-section__label {
    font-size: 36px;
    margin-bottom: 10px;
    color: #333;
    font-weight: bold;
}

.encrypt-section__input {
    width: 100%;
    height: 400px;
    margin-bottom: 20px;
    border: none;
    font-family: var(--font-main);
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 150%;
    background-color: var(--color-input-bg);
    resize: none;
    padding: 20px;
    border-radius: 34px;
}

.encrypt-section__input::placeholder {
    color: #225E0C;
}

.encrypt-section__input:focus,
.encrypt-section__input:active {
    border: none;
    outline: none;
}

.encrypt-section__terms {
    margin-bottom: 10px;
    display: flex;
    align-items: center;
}

.encrypt-section__info-icon {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #0a3871;
    color: white;
    font-size: 14px;
    margin-right: 10px;
}

.encrypt-section__terms p {
    font-size: 12px;
    color: #495057;
}

.encrypt-section__buttons {
    display: flex;
    gap: 10px;
    justify-content: center;
    width: 100%;
}

.encrypt-section__btn {
    padding: 15px;
    width: 25%;
    border-radius: 24px;
    font-size: 18px;
    cursor: pointer;
    border: 1px solid #09500B;
}

.encrypt-section__btn--encrypt {
    background-color: var(--color-btn-encrypt);
    color: #FFFFFF;
    border: none;
}

.encrypt-section__btn--decrypt {
    background-color: var(--color-btn-decrypt);
    color: #225E0C;
    border: 1px solid #09500B;
}

.result-section {
    width: 30%;
    background: white;
    box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
    border-radius: 32px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.result-section__image {
    max-width: 70%;
    margin-bottom: 20px;
}

.result-section__message {
    text-align: center;
}

.result-section__title {
    font-family: var(--font-main);
    font-weight: 700;
    font-size: 24px;
    margin-bottom: 16px;
    color: #343A40;
}

.result-section__paragraph {
    font-family: var(--font-main);
    font-weight: 400;
    font-size: 16px;
    color: #495057;
}

.footer {
    background-color: var(--color-footer);
    color: #333;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
    font-family: var(--font-footer);
}

@media (max-width: 768px) {
    .main-container {
        flex-direction: column;
    }

    .encrypt-section,
    .result-section {
        width: 100%;
    }

    .result-section {
        margin-top: 20px;
    }
}