:root {
    /* Variables CSS para colores y fuentes */
    --color-background: #7AA451;
    --color-input-bg: #B7F1B2;
    --color-header: #225E0C;
    --color-footer: #D9D9D9;
    --color-btn-encrypt: #09500B;
    --color-btn-decrypt: #80F86C;
    --font-main: 'Inter', sans-serif;
    --font-title: 'Anton', sans-serif;
    --font-footer: 'Pacifico', cursive;
}

* {
    /* Reset CSS básico */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    /* Estilos generales del cuerpo */
    font-family: var(--font-main);
    background: var(--color-background);
}

.header {
    /* Estilos del encabezado */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: var(--color-header);
    color: white;
}

.header__contenedor__logo {
    /* Contenedor del logo y título */
    display: flex;
    align-items: center;
}

.header__logo {
    /* Estilos del logo */
    height: 40px;
    margin-right: 10px;
}

.header__titulo {
    /* Estilos del título principal */
    font-family: var(--font-title);
    font-size: 36px;
}

.header__redes__sociales {
    /* Estilos de los enlaces de redes sociales */
    color: white;
    font-size: 20px;
    margin-left: 15px;
    text-decoration: none;
}

.contenedor__principal{
    /* Contenedor principal */
    display: flex;
    justify-content: space-between;
    padding: 20px;
    height: calc(100vh - 140px);
}

.seccion__encriptar {
    /* Sección de encriptación */
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

